.custom-shape-divider-top-1666791488 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1666791488 svg {
  position: relative;
  display: block;
  width: calc(168% + 1.3px);
  height: 69px;
}

.custom-shape-divider-top-1666791488 .shape-fill {
  fill: rgba(0, 0, 0, 0.699);
}
